In [1]:
import pandas as pd

## Read the Iris Dataset

In [4]:
data = pd.read_csv("data\Iris.csv")

In [6]:
data.head(10)

   Sepal length  Sepal width  Petal length  Petal width Species
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [16]:
data['Species'].describe()

count        150
unique         3
top       Setosa
freq          50
Name: Species, dtype: object

## Measurement of Central Tendency

In [62]:
data[['Petal width', 'Species']]

     Petal width    Species
0            0.2     Setosa
1            0.2     Setosa
2            0.2     Setosa
3            0.2     Setosa
4            0.2     Setosa
..           ...        ...
145          2.3  Virginica
146          1.9  Virginica
147          2.0  Virginica
148          2.3  Virginica
149          1.8  Virginica

[150 rows x 2 columns]

### Mean

In [21]:
data[data.Species == 'Setosa']['Petal width'].mean()

0.2439999999999999

In [18]:
data[data.Species == 'Versicolor']['Petal width'].mean()

1.3259999999999998

In [19]:
data[data.Species == 'Virginica']['Petal width'].mean()

2.026

### Median

In [22]:
data[data.Species == 'Setosa']['Petal width'].median()

0.2

In [23]:
data[data.Species == 'Versicolor']['Petal width'].median()

1.3

In [24]:
data[data.Species == 'Virginica']['Petal width'].median()

2.0

## Measures of Dispersion

### Standards Deviation

In [26]:
import statistics

In [28]:
statistics.stdev(data[data.Species == 'Setosa']['Petal width'])

0.10720950308167838

In [29]:
statistics.stdev(data[data.Species == 'Versicolor']['Petal width'])

0.19775268000454405

In [30]:
statistics.stdev(data[data.Species == 'Virginica']['Petal width'])

0.27465005563666733

### Range

In [32]:
import numpy as np

In [42]:
q1, q3 = np.percentile(data[data.Species == 'Setosa']['Petal width'], [25,75])

In [43]:
q1

0.2

In [44]:
q3

0.3

In [45]:
iqr = q3 - q1
iqr

0.09999999999999998

In [46]:
q1, q3 = np.percentile(data[data.Species == 'Versicolor']['Petal width'], [25,75])

In [47]:
q1

1.2

In [48]:
q3

1.5

In [50]:
iqr = q3 - q1
iqr

0.30000000000000004

In [51]:
q1, q3 = np.percentile(data[data.Species == 'Virginica']['Petal width'], [25,75])

In [52]:
q1

1.8

In [53]:
q3

2.3

In [55]:
iqr = q3 - q1
iqr

0.4999999999999998